.draggable {
    position: absolute;
    clear: both;
    width: 10px;
    height: 10px;
}

#norevref {
    clear: both;
    width: 40px;
    height: 40px;
}

#rev {
    clear: both;
    width: 40px;
    height: 40px;
}

#ref {
    clear: both;
    width: 40px;
    height: 40px;
}

#icon-container {
    position: absolute;
    top: 0px;
    left: 0px;
}

#revref {
    clear: both;
    width: 40px;
    height: 40px;
}

.norevref {
    background: #FF000088;
    border: 2px solid #000000;
}

.rev {
    background: #FFFF0088;
    border: 2px solid #000000;
}

.ref {
    background: #00FF0088;
    border: 2px solid #000000;
}

.revref {
    background: #0000FF88;
    border: 2px solid #000000;
}

canvas {
    position: absolute;
    top: 0px;
    left: 0px;
}

body {
    overflow: hidden;
}

.num-input {
    width: 50px;
}